.loader-content {
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;

  &__text {
    margin-left: 14px;
    font-size: 24px;
  }

  &__svg {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
