.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #393393;
    width: 100%;
    padding: 5px 5px;
    height: 60px;

    &__logo {
        max-width: 60px;

        &_hidden {
            display: none;
        }
    }
}
