.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;

    &__btn {
        text-decoration: none;
        font-weight: bold;

        &_checked {
            background: #eeeff8;
            color: #393393;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
