.description-submenu {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        color: #393393;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    &__radio {
        display: none;
    }

    &__radio:checked+.description-submenu__item-title {
        border-bottom: 1px solid #393393;
        font-weight: bold;
    }

    &__item-title {
        display: block;
        width: 100%;
        padding-left: 10px;
    }
}
